@model IEnumerable<Entidade.TipoAtividade>

@{
    ViewData["Title"] = "Index";
}

<h1>Cadastrar Tipo Atividade</h1>

<p>
    <a asp-action="Create">Novo Cadastro</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Código
            </th>
            <th>
                Descrição
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.TipoAtividadeId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>

                <td>
                    <form asp-action="Edit" method="get">
                        <div class="form-group">
                            <input name="id" value=@item.TipoAtividadeId hidden />
                            <input type="submit"
                               value="Alterar"
                               class="btn btn-outline-primary" />
                        </div>
                    </form>
                </td>
                <td>
                    <form asp-action="Delete" method="post">
                        <div class="form-group">
                            <input name="id" value=@item.TipoAtividadeId hidden />
                            <input type="submit"
                               value="Apagar"
                               class="btn btn-outline-danger"
                               onclick="return confirm('Deseja realmente apagar a atividade @item.Descricao?');" />
                        </div>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
